# 🔥 Python Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
...

# 🛠️ Build Outputs
build/
dist/
.dist/
*.egg-info/
...
.venv/

# 🧪 Environments
.env
env/
venv
...

# 🧠 IDEs & Tools
.idea/
.vscode/

# 📜 Logs (optional)
*.log
*.out
